{% extends 'layouts/base.html' %}
{% from 'macros/authors.html' import authors %}
{% from 'macros/nav.html' import nav, navaside, navfooter %}
{% import 'macros/prose.html' as prose %}
{% import 'macros/share.html' as share %}

{% block social %}
<title>{% if context.seo %}{{ context.seo }}{% else %}{{ context.headline }}{% endif %}</title>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ data.PATH_FULL }}{{ context.slug }}">
<meta property="og:title" content="{{ context.headline }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ context.summary|escape }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ data.PATH_FULL }}assets/images/{{ context.fb_art }}">
<meta property="fb:app_id" content="154122474650943">
{% endblock %}

{% block parsely %}
<!-- Update articleSection, creator and dateCreated! -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ context.headline }}",
    "url": "{{ data.PATH_FULL }}{{ context.slug }}",
    "thumbnailUrl": "{{ data.PATH_FULL }}assets/images/{{ context.fb_art }}",
    "dateCreated": "{{ context.parsely.date }}T06:00:00-06:00",
    "articleSection": "{{ context.parsely.articleSection }}",
    "creator": ["{{ context.parsely.creator }}"]
  }
</script>
{% endblock %}

{% block header %}
  {{ nav() }}
{% endblock %}

{% block content %}
<main id="main" class="main-body">

  <!-- Story Top: Lead Art / Headline / Byline -->
  <div class="storytop--wrapper">
    <!-- Lead Art - Set as a background image on a specific class for each story. -->
    <div class="storytop--lead-art storytop--lead-art_{{ context.id }}"></div>
    <div class="storytop--caption">
      <p>{% if context.lead_art.caption %}{{ context.lead_art.caption }} | {% endif %}{{ context.lead_art.credit }}</p>
    </div>
    <header class="storytop">
      <div class="storytop--headline-box">
        <!-- Headline -->
        <h1 class="storytop--headline">{{ context.headline }}</h1>
        <!-- Byline, Pub Date -->
        <p class="storytop--byline">by {{ authors(context.authors) }} | {{ context.pub_date }}</p>
      </div>
    </header>
  </div>

  <article class="prose">
    <!-- Share buttons -->
    <ul class="prose__shares">
      <!-- Facebook -->
      <li><a href="{{ share.facebook(data.PATH_FULL, context.slug) }}"  target="_blank">
        <button class="prose__shares--btn fb">
          <i class="fa fa-facebook"></i>
        </button>
      </a></li>
      <!-- Twitter -->
      <li><a href="{{ share.twitter(data.PATH_FULL, context.slug, context.twitter_text) }}">
        <button class="prose__shares--btn tw">
          <i class="fa fa-twitter"></i>
        </button>
      </a></li>
      <li><a href="#join-conversation">
        <button class="prose__shares--btn cc">
          <i class="fa fa-comments"></i>
          <span class='civil-comment-count' data-site-id='tt' data-id="{{ context.slug }}" data-language='en'></span>
        </button>
      </a></li>
    </ul>

  <!-- Loops through your prose data
       and builds components from macros in prose.html -->
  {% for item in context.prose %}
    {% if item.type == 'nav_aside' %}
      {{ navaside(related_one, related_two, related_three) }}
    {% else %}
    {{ prose[item.type](item.value, data) }}
    {% endif %}
  {% endfor %}

  {% if context.disclosure %}
  {{ prose.disclosure(context.disclosure) }}
  {% elif context.republish %}
  {{ prose.republish(context.slug) }}
  {% endif %}

  <div class="prose">
    <!-- <a href="#civil-comments"><button class="prose__shares--btn cc">
      <span class="commentjump">Join the Discussion</span>
      <i class="fa fa-comments"></i>
      <span class='civil-comment-count' data-site-id='tt' data-id="test-new-comments" data-language='en'></span>
    </button>
    </a> -->
      <header id="join-conversation">
        <h2 class="prose__subhead">Join the conversation</h2>
      </header>
      <p>The Texas Tribune encourages a diverse and constructive dialogue on the issues we cover. That’s why we’re experimenting with a new discussion tool called <a href="https://www.civilcomments.com/">Civil Comments</a>, which allows our readers to help maintain the quality of our comments through peer review. To post a comment in this discussion, you’ll also be asked to rate another Tribune reader's comment. The process is quick, and you can log in with Twitter, Facebook or email. Thanks for experimenting with us, and we look forward to hearing what you think. Send us your thoughts at <a href="mailto:feedback@texastribune.org">feedback@texastribune.org</a>. <button id="comment__policy--link" class="prose comment__policy--link">Click to view our full comments policy</button>.</p>
      <div id="comment__policy--box" class="prose comment__policy--box">
        <header>
          <h2 class="prose__subhead">Comment policy</h2>
        </header>
        <p>The Texas Tribune pleased to provide the opportunity for you to share your observations about this story. We encourage lively debate on the issues of the day, but we ask that you refrain from using profanity or other offensive speech, engaging in personal attacks or name-calling, posting advertising, or wandering away from the topic at hand. To comment, you must be a registered user of the Tribune, and your real name will be displayed. Thanks for taking time to offer your thoughts.</p>
      </div>
    </div>


  </article>

  <div id="civil-comments" data-id="{{ context.slug }}">
  </div>
</main>

<footer class="footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2016 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ data.PATH_PREFIX }}scripts/{{ context.script }}.js"></script>
<script>
  (function(c, o, m, e, n, t, s){c[n] = c[n] || function() {var args = [].slice.call(arguments);(c[n].q = c[n].q || []).push(args);t = o.createElement(m);s = o.getElementsByTagName(m)[0];t.async = 1;t.src = [e].concat(args.map(encodeURIComponent)).join("/");s.parentNode.insertBefore(t, s);};c["CivilCommentsObject"] = c[n];})(window, document, "script", "https://ssr.civilcomments.com/v1", "Civil");
  Civil("{{ context.slug }}","tt","en");
</script>
{% endblock %}
