{% extends 'layouts/base.html' %}
{% from 'macros/authors.html' import authors %}
{% from 'macros/nav.html' import nav, navaside, navfooter %}
{% import 'macros/prose.html' as prose %}
{% import 'macros/share.html' as share %}

{% block social %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ data.PATH_FULL }}{{ context.slug }}">
<meta property="og:title" content="{{ context.headline }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ context.summary }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ data.PATH_FULL }}assets/images/{{ context.fb_art }}">
<meta property="fb:app_id" content="154122474650943">
{% endblock %}

{% block parsely %}
<!-- Update articleSection, creator and dateCreated! -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ context.headline }}",
    "url": "{{ data.PATH_FULL }}",
    "thumbnailUrl": "",
    "dateCreated": "2016-02-09T06:00:00-06:00",
    "articleSection": "FRONT PAGE, HIGHER EDUCATION",
    "creator": ["Becca Aaronson, The Texas Tribune"]
  }
</script>
{% endblock %}

{% block header %}
  {{ nav() }}
{% endblock %}

{% block content %}
<main class="main-body">

  <!-- Story Top: Lead Art / Headline / Byline -->
  <div class="storytop--wrapper">
    <!-- Lead Art - Set as a background image on a specific class for each story. -->
    <div class="storytop--lead-art storytop--lead-art_{{ context.id }}"></div>
    <div class="storytop--caption">
      <p>{{ context.lead_art.caption }} | {{ context.lead_art.credit }}</p>
    </div>
    <header class="storytop">
      <div class="storytop--headline-box">
        <!-- Headline -->
        <h1 class="storytop--headline">{{ context.headline }}</h1>
        <!-- Byline, Pub Date -->
        <p class="storytop--byline">by {{ authors(context.authors) }} | {{ context.pub_date }}</p>
      </div>
    </header>
  </div>

  <article class="prose">
    <!-- Share buttons -->
    <ul class="prose__shares">
      <!-- Facebook -->
      <li><a href="{{ share.facebook(data.PATH_FULL, context.slug) }}"  target="_blank">
        <button class="prose__shares--btn fb">
          <i class="fa fa-facebook"></i>
        </button>
      </a></li>
      <!-- Twitter -->
      <li><a href="{{ share.twitter(data.PATH_FULL, context.slug, context.twitter_text, 'highered') }}">
        <button class="prose__shares--btn tw">
          <i class="fa fa-twitter"></i>
        </button>
      </a></li>
      <li><a href="#civil-comments">
        <button class="prose__shares--btn cc">
          <i class="fa fa-comments"></i>
          <span class='civil-comment-count' data-site-id='tt' data-id="test-new-comments" data-language='en'></span>
        </button>
      </a></li>
    </ul>

  <!-- Loops through your prose data
       and builds components from macros in prose.html -->
  {% for item in context.prose %}
    {% if item.type == 'nav_aside' %}
      <!-- {{ navaside(data.story_one, data.story_two, data.story_three, data.video) }} -->
    {% else %}
    {{ prose[item.type](item.value, data) }}
    {% endif %}
  {% endfor %}

  {% if context.disclosure %}
  {{ prose.disclosure(context.disclosure) }}
  {% elif context.republish %}
  {{ prose.republish(context.slug) }}
  {% endif %}


  <!-- <div class="commentjump">
    <a href="#civil-comments"><button class="prose__shares--btn cc">
      <span class="commentjump">Join the Discussion</span>
      <i class="fa fa-comments"></i>
      <span class='civil-comment-count' data-site-id='tt' data-id="test-new-comments" data-language='en'></span>
    </button>
    </a>
  </div>
-->
  </article>

  <div id="civil-comments" data-id="test-new-comments">
  </div>
</main>

<footer class="footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2016 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ data.PATH_PREFIX }}scripts/{{ context.script }}.js"></script>
<script>
  (function(a,e,f,g,b,c,d){a[b]=a[b]||function(){(a[b].q=a[b].q||[]).push(arguments)};
     a.CivilCommentsObject=a[b];c=e.createElement(f);d=e.getElementsByTagName(f)[0];
     c.async=1;c.src=g;d.parentNode.insertBefore(c,d)})(window,document,"script",
  "https://assets.civilcomments.com/v1/index.js","Civil");
  Civil("test-new-comments","tt","en");
</script>
<script src='https://js.civilcomments.com/v1/embed.js' async></script>
{% endblock %}
